@font-face {
        font-family: Orbit;
        src: url(font/Orbit-Regular.ttf);
    }

@font-face {
        font-family: Barcode;
        src: url(font/LibreBarcode128Text-Regular.ttf);
    }

body {
    font-family: Orbit;
    text-decoration: none;
}

/*        02353C